node_modules
.env
coverage
coverage.json
typechain
data
deployments
.env.example
.eslintignore
.eslintrc.js
.npmignore
.prettierignore
.solhint.json
.solhintignore
deploy_all
scripts
tenderly.yaml
package-lock.json
tsconfig.json
yarn-error.log


#Hardhat files
cache
artifacts

# push abi to server
update-contracts.py

# test 
sig.py
test_mint_verify.js

# tmp
0_deploy_DeepGoNFTVerify.js

# debug
debug

# ignore
.DS_Store
